html, body, #root, #root>div {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Helvetica", "Arial", sans-serif;
  background-image: linear-gradient(to bottom right, #A474AA, #101010);
}

.title {
  font-weight: bold;
  font-size: 2em;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.my-container {
  width: 100%;
  height: 100%;
}

.my-nav-bg {
  height: 5.5em;
  background-color: rgba(14, 14, 14, .5)
}

.my-nav {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.icon {
  margin-left: 2%;
  height: 3em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.home-link {
  margin-left: 1%;
  font-size: 2.2em;
}

.users-link {
  margin-left: 4%;
}

.songs-link {
  margin-left: 2%;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 17em;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.my-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  flex-direction: column;
  height: 100%;
  min-width: 15em;
  background-size: auto;
  overflow: hidden;
  scroll-snap-align: start;
}

.my-carousel-item:hover > .song-title-container > .song-title {
  animation: 12s slide-left linear infinite;
  animation-delay: 1s;
}

@keyframes slide-left {
  to {
    transform:translateX(-120%);
  }
}

.user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.user-display-name {
  margin-right: 5%;
  font-size: .6em;
}

.song-title-container {
  overflow: hidden;
  width: 13.7em;
}

.song-title {
  white-space: nowrap;  
  width: 100%;
}

.album {
  height: 14em;
  width: 14em;
}
