$purple: rgb(108,79,114);
$pink: rgb(174, 126, 180);
$half-pink: rgba(164, 116, 170, .6);
$dark-purple: rgb(62, 47, 63);
$green: #1DB954;

body, #root {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  color: #ffffff;
  font-family: "Helvetica", "Arial", sans-serif;
  background-image: linear-gradient(to bottom right, $pink, #201020);
  background-attachment: fixed;
  scroll-behavior: smooth;
  // box-sizing: border-box;
  // overflow: scroll;
}

.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.loader-container {
  display: flex;
  width: 100%;
  height: 100%;
  // align-items: center;
  justify-content: center;
}