.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  @media (max-width: 1440px) {
    width: 90%;
  }
  .title {
    width: 100%;
    font-weight: bold;
    font-size: 2.3em;
    margin-top: 2%;
    margin-bottom: 1%;
    overflow: hidden;
    white-space: nowrap;
  }
  .gray-text {
    width: 100%;
    color: #CCCCCC;
  }
}
